
@{
    ViewData["Title"] = "Ajax";
}

<h2>Ajax</h2>
<h3>Demo</h3>
<p>Type something and click the button.</p>

<input type="text" id="inputTextId" />
<button id="buttonId">Submit</button>
<hr />
<div id="outputLineId"></div>

@section Scripts
{
    <script src="~/js/ajax.js"></script>
}
